<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
     <div class="page-header">
       <h1 style="text-align: center;">Concours récitation du coran <small>Edition 2019</small></h1>
     </div>
     <div class="row">
       <div class="col-lg-12">
        <p style="text-align: center;">
          <a routerLink="/groupes"><button class="btn btn-primary btn-lg">
            <i class="glyphicon glyphicon-log-in"></i> Commencer</button>
          </a>
        </p>
       </div>
     </div>
  </div>
</div>
